
body{
    font-family: 'Abel', sans-serif;
}

a:hover{
    color: #000;
}

nav{
    height: 3em;
    margin: 2.5em 4em;
}

h1{
    font-size:64px;
    font-family: 'Anton', sans-serif;
}

h2{
    font-size:48px;
    font-family: 'Anton', sans-serif;
}

h3{
    font-size:40px;
    font-family: 'Anton', sans-serif;
}

h4{
    font-size:32px;
    font-family: 'Anton', sans-serif;
}

h5{
    font-size:28px;
    font-family: 'Anton', sans-serif;
}

.red{
    background-color:#E6563B;
}

.orange{
    background-color:#EB9D3A;
}

.green{
    background-color:#7CB06C;
}

.blue{
    background-color:#00ABA9;
}

.grey{
    background-color: #E6E6E6;
}

.white{
    background-color:#F0F0F0;
}

.container-fluid{
    max-width:100%;
}


.logo{
    width:105px;
    height:105px;
}

.logo-text {
    display:flex;
    align-items: center;
    font-size:2em;
}

.nav-words{
    font-family: 'Abel', sans-serif;
    color: #000;
}

.nav-row{
    width: 110%;
}

.nav-column{
    display:flex;
    align-items:center;
    max-width:fit-content;
}

.visual h1{
    max-width: 100%;
}

.circle-at {
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}

.circle-at h5{
    position:relative;
    top: 40%;
}



@media screen and (max-width:576px) {

    nav{
        margin:4em 0 8em 0;
    }

    nav .container-fluid{
        position:relative;
        top:2em;
    }

    .circle{
        width:180px;
        height:180px;
        border:10px solid white;
    }

}

@media screen and (min-width:576px) {

    .circle{
        width: 160px;
        height: 160px;
        border:7px solid white;
    }

}


@media screen and (min-width:577px) and (max-width:768px) {

    nav{
        margin:2em 0 5em 0;
    }

    nav a{
        margin-top: 2em;
    }

    .nav-column{
        position:relative;
        top:-1.5em;
    }

    .nav-column:nth-child(2){
        order:0
    }

    .nav-column:nth-child(3){
        order:1
    }

    .nav-column:nth-child(4){
        order:3
    }

    .nav-column:nth-child(5){
        order:4
    }

    #main-logo{
        width:fit-content;
        margin-top: 3em;
    }

    #logo-column{
        order:2;
    }

}

@media screen and (min-width:769px) and (max-width:1200px) {

    .nav-left{
        margin-left: auto;
    }

}

@media screen and (min-width:1201px) {

    .nav-left{
        margin-left: 40%;
    }

    .pl-md-4, .px-md-4 {
        padding-left: 2.5rem!important;
    }

}





>>>>>>> 1ad2526781a6e28b7ee0bc07173fe44f2fc521e6
.font {
    font-size:.5em;
}
div.col {
 position:relative;
    left: 51%; /** 35% 51%**/
    bottom: 37px;
}
p.d-none.d-sm-block.j {
    font-size:.8em;
}
p.j {
    font-size:.8em;
}

.btn {
    font-size:12px;
    width:18px;
    height:18px;
    margin-left:5px;
    margin-right:6px;
    padding:0px;
}
img.green.d-none.d-sm-block{
    max-height:159px;
}
div.col-4.tab.f {
    max-width: 95px;
    padding-left: 2px;
    padding-right: 2px;
}
div.col-4.tab {

    position: relative;
    left:0%;
}
div.container.mag {
    max-width: 31%;
    position:relative;
    bottom:335px;
    left:19px;
}
div.container.tweet {
    max-width: 500px;
    margin-left: 50%;
    position: relative;
    left: 20%;
    bottom: 327px;
}

h5.veil.font-weight-light {


}
h5.velly.font-weight-light {
    position: relative;
    left: -3%;
    width: 400px;
    top:9px;
}
p.d-none.d-sm-block.j {

}

/** vvvv I also configured the media queries to adjust accordingly. vvvv **/
@media screen and (min-width:400px) {
    div.col {
        position:relative;
        left:59%;
    }
    h5.veil.font-weight-light {
        position:relative;
       left:82%;
    }
    h5.font.veil.font-weight-light{
        font-size:1em;
    }
    p.j {
    font-size:1em;
    }
}



@media screen and (min-width:500px) {
    div.col {
        position:relative;
        left:74%;
    }
    h5.veil.font-weight-light {
        position:relative;
        left:2%;
    }
    h5.font.veil.font-weight-light{
        font-size:1em;
    }
    /**.font {
        font-size:.75em;
    }**/

}
@media screen and (min-width:576px) {
    div.col {
        position:relative;
        left: 43%;
    }
    h5.veil.font-weight-light {
        position: relative;
        right: 20%;
    }
    div.container.mag {
        position:relative;
        left:62%;
        bottom:470px;
        visibility:hidden;
    }
    div.container.tweet {
        visibility:hidden;
    }

}
@media screen and (min-width:768px) {
    div.col {
        position:relative;
        left:45%;
    }
    .btn {
        margin-left:2px;
        margin-right:2px;
    }
    h5.veil.font-weight-light {
        position: relative;
        right: 3%;
    }
    h5.velly.font-weight-light {
        position: relative;
        left: -12%;
        width: 400px;
        top: 9px;
    }
    img.green.d-none.d-sm-block{
        max-height:139.76px;
    }
    div.container.mag {
        max-width: 31%;
        position: relative;
        bottom: 289px;
        left: 19px;
        visibility:visible;
    }
    div.col-4.tab {
        height:47px;
        position: relative;
        left:0%;
    }

}
@media screen and (min-width:992px) {
    div.col {
        position:relative;
        left:60%;
    }
    img.green.d-none.d-sm-block{
        max-height:193.02px;
    }
    h5.velly.font-weight-light {
        position: relative;
        left: 0%;
        width: 400px;
        top: 9px;
    }
    div.container.mag {
        max-width: 31%;
        position: relative;
        bottom: 341px;
        left: 19px;
    }
    div.col-4.tab {
        height: 54px;
        position: relative;
        left: 0%;
    }
}
@media screen and (min-width:1200px) {
    div.col {
        position:relative;
        left:67%;
    }
    img.green.d-none.d-sm-block{
        max-height:232.97px;
    }
    h5.velly.font-weight-light {
        position: relative;
        left: 8%;
        width: 400px;
        top: 9px;
    }
    div.container.mag {
        max-width: 31%;
        position: relative;
        bottom: 376px;
        left: 19px;
    }
    .font {
        font-size:.75em;
    }
    div.container.tweet {
        max-width: 500px;
        margin-left: 50%;
        position: relative;
        left: 20%;
        bottom: 345px;
    }
    h5.font.velly.font-weight-light {
        font-size:1em;
    }
}


.btn {
    font-size:12px;
    width:18px;
    height:18px;
    margin-left:5px;
    margin-right:6px;
    padding:0px;

